Class Library/Web References/CloudSVCRef1/CloudSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="attemptLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="attemptLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="attemptLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addAdminResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFilesByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFilesByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFilesByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserFreeStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserFreeStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getUserFreeStorageResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="attemptLoginSoapIn">
    <wsdl:part name="parameters" element="tns:attemptLogin" />
  </wsdl:message>
  <wsdl:message name="attemptLoginSoapOut">
    <wsdl:part name="parameters" element="tns:attemptLoginResponse" />
  </wsdl:message>
  <wsdl:message name="addUserSoapIn">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="addUserSoapOut">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="addAdminSoapIn">
    <wsdl:part name="parameters" element="tns:addAdmin" />
  </wsdl:message>
  <wsdl:message name="addAdminSoapOut">
    <wsdl:part name="parameters" element="tns:addAdminResponse" />
  </wsdl:message>
  <wsdl:message name="addFileSoapIn">
    <wsdl:part name="parameters" element="tns:addFile" />
  </wsdl:message>
  <wsdl:message name="addFileSoapOut">
    <wsdl:part name="parameters" element="tns:addFileResponse" />
  </wsdl:message>
  <wsdl:message name="getFilesByUserSoapIn">
    <wsdl:part name="parameters" element="tns:getFilesByUser" />
  </wsdl:message>
  <wsdl:message name="getFilesByUserSoapOut">
    <wsdl:part name="parameters" element="tns:getFilesByUserResponse" />
  </wsdl:message>
  <wsdl:message name="getUserFreeStorageSoapIn">
    <wsdl:part name="parameters" element="tns:getUserFreeStorage" />
  </wsdl:message>
  <wsdl:message name="getUserFreeStorageSoapOut">
    <wsdl:part name="parameters" element="tns:getUserFreeStorageResponse" />
  </wsdl:message>
  <wsdl:portType name="CloudSVCSoap">
    <wsdl:operation name="attemptLogin">
      <wsdl:input message="tns:attemptLoginSoapIn" />
      <wsdl:output message="tns:attemptLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserSoapIn" />
      <wsdl:output message="tns:addUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <wsdl:input message="tns:addAdminSoapIn" />
      <wsdl:output message="tns:addAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addFile">
      <wsdl:input message="tns:addFileSoapIn" />
      <wsdl:output message="tns:addFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFilesByUser">
      <wsdl:input message="tns:getFilesByUserSoapIn" />
      <wsdl:output message="tns:getFilesByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserFreeStorage">
      <wsdl:input message="tns:getUserFreeStorageSoapIn" />
      <wsdl:output message="tns:getUserFreeStorageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudSVCSoap" type="tns:CloudSVCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="attemptLogin">
      <soap:operation soapAction="http://tempuri.org/attemptLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <soap:operation soapAction="http://tempuri.org/addAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFile">
      <soap:operation soapAction="http://tempuri.org/addFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesByUser">
      <soap:operation soapAction="http://tempuri.org/getFilesByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFreeStorage">
      <soap:operation soapAction="http://tempuri.org/getUserFreeStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudSVCSoap12" type="tns:CloudSVCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="attemptLogin">
      <soap12:operation soapAction="http://tempuri.org/attemptLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap12:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <soap12:operation soapAction="http://tempuri.org/addAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFile">
      <soap12:operation soapAction="http://tempuri.org/addFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesByUser">
      <soap12:operation soapAction="http://tempuri.org/getFilesByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFreeStorage">
      <soap12:operation soapAction="http://tempuri.org/getUserFreeStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudSVC">
    <wsdl:port name="CloudSVCSoap" binding="tns:CloudSVCSoap">
      <soap:address location="http://localhost:51543/CloudSVC.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudSVCSoap12" binding="tns:CloudSVCSoap12">
      <soap12:address location="http://localhost:51543/CloudSVC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>