Class Library/Web References/CloudSVCRef1/CloudSVC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="attemptLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="attemptLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="attemptLoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addAdminResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="fileInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkForFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkForFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkForFileResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFilesByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFilesByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFilesByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserFreeStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserFreeStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getUserFreeStorageResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserTotalStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserTotalStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getUserTotalStorageResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCloudUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCloudUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCloudUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCloudAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCloudAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCloudAdminResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCloudUsersInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCloudUsersInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCloudUsersInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAdminTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAdminTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAdminTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adminUpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="adminUpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="adminUpdateUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSingleUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSingleUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSingleUserInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="userUpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="userUpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userUpdateUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginInfo" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="attemptLoginSoapIn">
    <wsdl:part name="parameters" element="tns:attemptLogin" />
  </wsdl:message>
  <wsdl:message name="attemptLoginSoapOut">
    <wsdl:part name="parameters" element="tns:attemptLoginResponse" />
  </wsdl:message>
  <wsdl:message name="addUserSoapIn">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="addUserSoapOut">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="addAdminSoapIn">
    <wsdl:part name="parameters" element="tns:addAdmin" />
  </wsdl:message>
  <wsdl:message name="addAdminSoapOut">
    <wsdl:part name="parameters" element="tns:addAdminResponse" />
  </wsdl:message>
  <wsdl:message name="addFileSoapIn">
    <wsdl:part name="parameters" element="tns:addFile" />
  </wsdl:message>
  <wsdl:message name="addFileSoapOut">
    <wsdl:part name="parameters" element="tns:addFileResponse" />
  </wsdl:message>
  <wsdl:message name="checkForFileSoapIn">
    <wsdl:part name="parameters" element="tns:checkForFile" />
  </wsdl:message>
  <wsdl:message name="checkForFileSoapOut">
    <wsdl:part name="parameters" element="tns:checkForFileResponse" />
  </wsdl:message>
  <wsdl:message name="getFilesByUserSoapIn">
    <wsdl:part name="parameters" element="tns:getFilesByUser" />
  </wsdl:message>
  <wsdl:message name="getFilesByUserSoapOut">
    <wsdl:part name="parameters" element="tns:getFilesByUserResponse" />
  </wsdl:message>
  <wsdl:message name="getUserFreeStorageSoapIn">
    <wsdl:part name="parameters" element="tns:getUserFreeStorage" />
  </wsdl:message>
  <wsdl:message name="getUserFreeStorageSoapOut">
    <wsdl:part name="parameters" element="tns:getUserFreeStorageResponse" />
  </wsdl:message>
  <wsdl:message name="getUserTotalStorageSoapIn">
    <wsdl:part name="parameters" element="tns:getUserTotalStorage" />
  </wsdl:message>
  <wsdl:message name="getUserTotalStorageSoapOut">
    <wsdl:part name="parameters" element="tns:getUserTotalStorageResponse" />
  </wsdl:message>
  <wsdl:message name="getCloudUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getCloudUsers" />
  </wsdl:message>
  <wsdl:message name="getCloudUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getCloudUsersResponse" />
  </wsdl:message>
  <wsdl:message name="getCloudAdminSoapIn">
    <wsdl:part name="parameters" element="tns:getCloudAdmin" />
  </wsdl:message>
  <wsdl:message name="getCloudAdminSoapOut">
    <wsdl:part name="parameters" element="tns:getCloudAdminResponse" />
  </wsdl:message>
  <wsdl:message name="getCloudUsersInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getCloudUsersInfo" />
  </wsdl:message>
  <wsdl:message name="getCloudUsersInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getCloudUsersInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:getTransactions" />
  </wsdl:message>
  <wsdl:message name="getTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:getTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="getAdminTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:getAdminTransactions" />
  </wsdl:message>
  <wsdl:message name="getAdminTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:getAdminTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="adminUpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:adminUpdateUser" />
  </wsdl:message>
  <wsdl:message name="adminUpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:adminUpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="deleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:deleteUser" />
  </wsdl:message>
  <wsdl:message name="deleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:deleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="getSingleUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getSingleUserInfo" />
  </wsdl:message>
  <wsdl:message name="getSingleUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getSingleUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="userUpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:userUpdateUser" />
  </wsdl:message>
  <wsdl:message name="userUpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:userUpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="deleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:deleteFile" />
  </wsdl:message>
  <wsdl:message name="deleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:deleteFileResponse" />
  </wsdl:message>
  <wsdl:portType name="CloudSVCSoap">
    <wsdl:operation name="attemptLogin">
      <wsdl:input message="tns:attemptLoginSoapIn" />
      <wsdl:output message="tns:attemptLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserSoapIn" />
      <wsdl:output message="tns:addUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <wsdl:input message="tns:addAdminSoapIn" />
      <wsdl:output message="tns:addAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addFile">
      <wsdl:input message="tns:addFileSoapIn" />
      <wsdl:output message="tns:addFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkForFile">
      <wsdl:input message="tns:checkForFileSoapIn" />
      <wsdl:output message="tns:checkForFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFilesByUser">
      <wsdl:input message="tns:getFilesByUserSoapIn" />
      <wsdl:output message="tns:getFilesByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserFreeStorage">
      <wsdl:input message="tns:getUserFreeStorageSoapIn" />
      <wsdl:output message="tns:getUserFreeStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserTotalStorage">
      <wsdl:input message="tns:getUserTotalStorageSoapIn" />
      <wsdl:output message="tns:getUserTotalStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCloudUsers">
      <wsdl:input message="tns:getCloudUsersSoapIn" />
      <wsdl:output message="tns:getCloudUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCloudAdmin">
      <wsdl:input message="tns:getCloudAdminSoapIn" />
      <wsdl:output message="tns:getCloudAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCloudUsersInfo">
      <wsdl:input message="tns:getCloudUsersInfoSoapIn" />
      <wsdl:output message="tns:getCloudUsersInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTransactions">
      <wsdl:input message="tns:getTransactionsSoapIn" />
      <wsdl:output message="tns:getTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAdminTransactions">
      <wsdl:input message="tns:getAdminTransactionsSoapIn" />
      <wsdl:output message="tns:getAdminTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="adminUpdateUser">
      <wsdl:input message="tns:adminUpdateUserSoapIn" />
      <wsdl:output message="tns:adminUpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="tns:deleteUserSoapIn" />
      <wsdl:output message="tns:deleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSingleUserInfo">
      <wsdl:input message="tns:getSingleUserInfoSoapIn" />
      <wsdl:output message="tns:getSingleUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="userUpdateUser">
      <wsdl:input message="tns:userUpdateUserSoapIn" />
      <wsdl:output message="tns:userUpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteFile">
      <wsdl:input message="tns:deleteFileSoapIn" />
      <wsdl:output message="tns:deleteFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudSVCSoap" type="tns:CloudSVCSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="attemptLogin">
      <soap:operation soapAction="http://tempuri.org/attemptLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <soap:operation soapAction="http://tempuri.org/addAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFile">
      <soap:operation soapAction="http://tempuri.org/addFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkForFile">
      <soap:operation soapAction="http://tempuri.org/checkForFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesByUser">
      <soap:operation soapAction="http://tempuri.org/getFilesByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFreeStorage">
      <soap:operation soapAction="http://tempuri.org/getUserFreeStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserTotalStorage">
      <soap:operation soapAction="http://tempuri.org/getUserTotalStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCloudUsers">
      <soap:operation soapAction="http://tempuri.org/getCloudUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCloudAdmin">
      <soap:operation soapAction="http://tempuri.org/getCloudAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCloudUsersInfo">
      <soap:operation soapAction="http://tempuri.org/getCloudUsersInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactions">
      <soap:operation soapAction="http://tempuri.org/getTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdminTransactions">
      <soap:operation soapAction="http://tempuri.org/getAdminTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adminUpdateUser">
      <soap:operation soapAction="http://tempuri.org/adminUpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="http://tempuri.org/deleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingleUserInfo">
      <soap:operation soapAction="http://tempuri.org/getSingleUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userUpdateUser">
      <soap:operation soapAction="http://tempuri.org/userUpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFile">
      <soap:operation soapAction="http://tempuri.org/deleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudSVCSoap12" type="tns:CloudSVCSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="attemptLogin">
      <soap12:operation soapAction="http://tempuri.org/attemptLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap12:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAdmin">
      <soap12:operation soapAction="http://tempuri.org/addAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFile">
      <soap12:operation soapAction="http://tempuri.org/addFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkForFile">
      <soap12:operation soapAction="http://tempuri.org/checkForFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilesByUser">
      <soap12:operation soapAction="http://tempuri.org/getFilesByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserFreeStorage">
      <soap12:operation soapAction="http://tempuri.org/getUserFreeStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserTotalStorage">
      <soap12:operation soapAction="http://tempuri.org/getUserTotalStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCloudUsers">
      <soap12:operation soapAction="http://tempuri.org/getCloudUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCloudAdmin">
      <soap12:operation soapAction="http://tempuri.org/getCloudAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCloudUsersInfo">
      <soap12:operation soapAction="http://tempuri.org/getCloudUsersInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTransactions">
      <soap12:operation soapAction="http://tempuri.org/getTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdminTransactions">
      <soap12:operation soapAction="http://tempuri.org/getAdminTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adminUpdateUser">
      <soap12:operation soapAction="http://tempuri.org/adminUpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap12:operation soapAction="http://tempuri.org/deleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingleUserInfo">
      <soap12:operation soapAction="http://tempuri.org/getSingleUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userUpdateUser">
      <soap12:operation soapAction="http://tempuri.org/userUpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFile">
      <soap12:operation soapAction="http://tempuri.org/deleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudSVC">
    <wsdl:port name="CloudSVCSoap" binding="tns:CloudSVCSoap">
      <soap:address location="http://localhost:51543/CloudSVC.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudSVCSoap12" binding="tns:CloudSVCSoap12">
      <soap12:address location="http://localhost:51543/CloudSVC.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>